extends layout

block content

    if menu.length > 0
        table
            thead
                tr
                    th #
                    th Restaurante
                    th Prato
                    th Ingredientes
                    th Observações
                    th Preço
            tbody
                each item, index in menu
                    tr
                        td= index + 1
                        td= item.owner || 'Desconhecido'
                        td= item.nome
                        td= item.ingredientes
                        td= item.observacoes || '-'
                        td= item.preco
    else
        p.empty-message Nenhum item de menu cadastrado.