extends layout.pug

block styles
  link(rel="stylesheet", href="/css/menu-details.css")

block content
  .details-container
    .details-card

      .details-owner Restaurante: #{item.owner}

      if item.imagem
          img.details-image(src=`/img/products/${item.imagem}`)
      else
          img.details-image(src="/img/products/default.png")

      h2.details-name #{item.nome}

      .details-info
        p
          strong Preço:
          |  R$ #{item.preco}

        p
          strong Observações:
          |  #{item.observacoes || "Nenhuma"}
          
        p
          strong Ingredientes:
          |  #{item.ingredientes}

