extends ../layout

block styles
  link(rel="stylesheet", href="/css/menu.css")

block content
  .menu-container
    each item in menu
      .menu-card
        .menu-owner #{item.owner}

        if item.imagem
          img.menu-image(src=`/img/products/${item.imagem}`)
        else
          img.menu-image(src="/img/products/default.png")
        
        a.menu-name(href=`/menu/${item.id}`) #{item.nome}
        .menu-price Preço: R$ #{item.preco}
        .menu-obs Observações: #{item.observacoes}
        .menu-ingredients Ingredientes: #{item.ingredientes}